* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #E6E6FA;
  --complementary-color: #383f51;
  --secondary-color: #eae8be;
  --darker-primary: #937193;
  --darker-complementary: #bbb986;
  --font-family: Arial, sans-serif;
}

body {
  font-family: var(--font-family);
}

.contentAreaApp {
  padding-left: 40px;
  padding-right: 20px;
}

/*///////////////////////////////// HEADER STYLES /////////////////////////////*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--complementary-color);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 15px;
  /* space between logo and title*/
}

.app-name {
  font-size: 24px;
  font-weight: bold;
}

.navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 20px;
}

.nav li a {
  color: var(--complementary-color);
  text-decoration: none;
  font-size: 18px;
}

.nav li a:hover {
  text-decoration: underline;
}

/*///////////////////////////////// FOOTER STYLES /////////////////////////////*/

footer {
  background-color: var(--secondary-color);
  color: var(--complementary-color);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 16px;
}

/*///////////////////////////////// SHOW DETAIL STYLES /////////////////////////////*/

.show-list {
  display: flex;
  flex-wrap: wrap;
  /* allow items to wrap to the next line if they don't fit */
  gap: 1rem;
  margin-top: 2vh;
}

.show-item {
  width: calc(20% - 1rem);
  /* 1rem is the gap between items (16px) */
  border: 1px solid var(--primary-color);
  padding: 1rem;
  text-align: center;
  /* box-shadow: #383f51a7 0 0 3px; */
  box-shadow: 3px 3px 5px rgba(155, 155, 155, 0.5);
  /* adds a shadow on the bottom and right */
  border-radius: 2px;
}

.show-item img {
  max-width: 100%;
  height: auto;
}

.show-item h3 {
  margin: 0.5rem 0;
  font-size: larger;
  font-weight: 700;
}

.show-deets {
  font-size: 0.8rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.genreNames {
  font-size: 12px;
  font-style: italic;
  color: var(--darker-primary);
  font-weight: 500;
}

.banner-section {
  background-image: url(images/homepage_backdrop.jpg);
  background-size: cover;
  background-position: center;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2vh;
  margin-right: 20px;
  border-radius: 10px;
  filter: brightness(1.1)
    /* Make the image lighter */
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dbd9a885;
  pointer-events: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  width: 32rem;
  padding: 15px;
  font-size: 1rem;
  border: var(--darker-complementary) 3px solid;
  border-radius: 30px;
}

/*///////////////////////////////// SHOW PAGE STYLES /////////////////////////////*/
.show-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-page {
  padding: 2rem;
  max-width: 95vw;
  max-height: 75vh;
  margin: 0 auto;
  background-color: #fbfbff;
  border-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}

.show-title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

.show-image {
  display: block;
  max-width: 25vw;
  height: auto;
  border-radius: 10px;
  margin: 0 auto 1rem auto;
}

.show-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.show-seasons {
  font-size: 1rem;
  color: #333;
}

.seasons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.season-card {
  padding: 1rem;
  max-width: 90vw;
  margin: 0 auto;
  background-color: #fbfbff;
  border-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}

.season-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.season-image {
  display: block;
  max-width: 6vw;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
}

.season-episodes {
  font-size: 0.8rem;
  color: #333;
}