* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #E6E6FA;
  --complementary-color: #383f51;
  --secondary-color: #d1cf9b;
  --font-family: Arial, sans-serif;
}

body {
  font-family: var(--font-family);
}

/*///////////////////////////////// HEADER STYLES /////////////////////////////*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--complementary-color);
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 15px;
}

.app-name {
  font-size: 24px;
  font-weight: bold;
}

.navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.nav li {
  margin-left: 20px;
}

.nav li a {
  color: var(--complementary-color);
  text-decoration: none;
  font-size: 18px;
}

.nav li a:hover {
  text-decoration: underline;
}

/*///////////////////////////////// FOOTER STYLES /////////////////////////////*/

footer {
  background-color: var(--secondary-color);
  color: var(--complementary-color);
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 16px;
}